.calculator-container,
.calculator-container * {
  /* background-color: rgba(255, 0, 0, 0.2); */
}
.calculator-container {
  display: flex;
  flex-direction: column;
  padding: 0.75em;
  width: 300px;
  border: 1px solid var(--border-colour);

  border-radius: var(--border-radius);
}

.display {
  width: 100%;
  height: 4rem;
  margin-bottom: 0.75rem;
  border-radius: var(--border-radius);
  background-color: rgb(15, 15, 15);
}

.input-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;
}

.delete {
  grid-column: span 4 / span 4;
}
.equals {
  grid-column: span 2 / span 2;
}

.clear,
.blank {
  grid-column: span 3 / span 3;
}

.controls {
  background-color: rgb(20, 20, 20);
  color: rgba(249, 249, 249, 0.87);
}
