.links-container {
      width: 100%;
  height: 100%;
  max-height: 90%;
  padding: 2rem;
  width: 100%;
display: grid;
grid-template-columns: repeat(5, 200px);
grid-template-rows: masonry;
align-content: start;
/* grid-template-rows: repeat(5, 1fr); */
grid-column-gap: 1.5rem;
grid-row-gap: 1.5rem; 
}
.link-title {
    margin: 0;
 white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  text-overflow: ellipsis;
  background-color: var(--button-colour);
  color: rgb(87, 87, 87);
  margin: -1rem -1rem 0 -1rem;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius) var(--border-radius) 0  0;
}

.link-group ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    
    
}
.link-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-colour);
    background-color: rgb(13,13,13);
    padding: 1rem 1rem;
    width: 200px;
    height: fit-content;
}
.link-group  a {
    display: block;
    text-decoration: underline;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}