.navbar {
  display: flex;
  width: 100%;
  padding: 0.75rem 1rem;
  justify-content: center;
}
.nav-items {
  display: flex;
  gap: 1rem;
  width: max-content;
  max-width: 400px;
  justify-content: center;
}

.nav-items a {
  cursor: pointer;
  color: rgba(205, 205, 205, 0.67);
  border-radius: 16px;
  padding: 0.1rem 1rem;
  background-color: var(--button-colour);
  border: 2px solid var(--border-colour);
  user-select: none;
}

.nav-items a:hover {
  border-color: transparent;
  color: var(--colour);
  background-color: var(--accent-colour);
  opacity: 1;
  /* transition: background-color 0.25s; */
}
.nav-items a:active {
  opacity: 0.75;
}
