.notes {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 2rem;
  gap: 1rem;
  height: 100%;
  /* height: calc(100vh - 4rem); */
  max-height: 90%;
  box-sizing: border-box;
}

@media (height < 850px) {
  .notes {
    max-height: 85%;
  }
}
@media (height < 600px) {
  .notes {
    max-height: 80%;
  }
}

.notes-edit {
  flex-grow: 1;
  /* height: fit-content; */
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  gap: 1rem;
  border-radius: var(--border-radius);
  padding: 1rem;
  border: 1px solid var(--border-colour);
  position: relative;
  overflow: scroll;
}
.notes-list {
  width: max-content;
  max-width: 300px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-colour);

  /* position: relative;
  overflow: hidden; */

  display: flex;
  flex-direction: column;
  min-height: 0;
}
.notes-list ul {
  padding: 0;
  margin: 0;

  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.66rem;
  padding: 0.5rem 1rem;

  flex: 1 1 auto;
  overflow: auto;
}

.add-section {
  position: sticky;
  /* bottom: 3rem; */
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0.5rem;
  width: 100%;

  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-color: var(--background-colour);
  z-index: 1;
}
.add-notes {
  white-space: nowrap;
  width: 100%;
}
.add-notes::before {
  content: '';
  width: 100%;
  height: 2px;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--border-colour);
}

.note-editor-title {
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  color: var(--colour);
  background-color: var(--button-colour);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-colour);
  height: 3rem;
  padding-left: 1rem;
}

.note-editor-title:focus-visible {
  outline: 4px solid var(--accent-colour);
}
.note-editor-title::placeholder {
  color: var(--colour);
  opacity: 0.3;
}
