/* variables */
:root {
  --border-radius: 8px;
  --border-colour: rgb(20, 20, 20);
  --accent-colour: #ff70cb;
  --colour: rgba(255, 255, 255, 0.87);
  --background-colour: rgb(11, 11, 11);
  --button-colour: rgb(26, 26, 26);
}

:root {
  font-family: 'Space Grotesk', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: var(--colour);
  background-color: var(--background-colour);

  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: inherit;
}

a {
  font-weight: 500;
  color: var(--accent-colour);
  text-decoration: inherit;
}
a:hover {
  opacity: 0.75;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-colour);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  /* border-color: var(--accent-colour); */
  border-color: transparent;
  background-color: var(--accent-colour);
}
/* button:focus, */
input:focus-visible,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
  outline: 4px solid var(--accent-colour);
}

/* .note-editor-title:focus-visible {
  outline: 4px solid var(--accent-colour);
} */
button:active {
  opacity: 0.75;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    opacity: 0.75;
  }
  button {
    background-color: #f9f9f9;
  }
}
